<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('partials/head.ejs') -%>
<body>

<noscript>
    <h3>Please enable JavaScript in order to view this site properly.</h3>
</noscript>

<header>
    <nav></nav>
</header>

<main>
  <h1>Hello world</h1>
</main>

</body>
</html>
